body {
  font-family: 'Trebuchet MS';
}

h1 {
  color: #FFF;
  font-size: 100px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

#hero {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

#hero .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  margin-top: 20px;
}

.chrome-store-badge {
  margin-top: 10px;
}

#features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

#features .feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  text-align: center;
  margin: 30px;
}

.feature img {
  height: 100px;
  width: 100px;
}

.feature p {
  line-height: 25px;
}

#limitations {
  background-color: rgba(111, 111, 111, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#limitations .description {
  line-height: 40px;
  margin: 20px 0;
}

#limitations a {
  color: #FFF;
}

#limitations a:hover {
  color: rgb(206, 206, 206);
}

#privacy-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#privacy-policy p {
  line-height: 25px;
}

#privacy-policy a, #contact a {
  color: rgb(244,67,54);
}

#privacy-policy a:hover, #contact a:hover {
  color: rgb(202, 14, 0);
}

#contact {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact p {
  line-height: 35px;
}
