node_modules
temp
.tmp
dist
.sass-cache
app/bower_components
test/bower_components
package
build
*.log
.DS_Store
*.crx
*.pem
coverage
config.json
bext.json
.idea/
extension-*.zip
src.zip
package-lock.json
