.history-card > .mdl-button--raised {
  margin: 10px auto;
  width: 100px;
}

.history-card > .mdl-checkbox {
  margin: 5px;
}

.history-card span.mdl-checkbox__label {
  color: white;
}

.history-card .mdl-card__supporting-text {
  color: white;
  padding: 0 16px;
}