.mdl-list__item--three-line {
  height: 150px;
}

.mdl-list__item--three-line .mdl-list__item-primary-content {
  height: auto;
}

.mdl-list__item-avatar {
  height: 100px;
  width: 100px;
}

#viewing-activity-app .mdl-button--raised {
  margin: 0 20px;
}

.mdl-textfield--floating-label {
  margin: 0 10px;
  width: 300px;
}
