.watch-empty-card.mdl-card {
  width: 280px;
  height: 230px;
  background: rgba(0, 0, 0, 0.2);
}

.watch-empty-card > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.watch-empty-card > .mdl-card__title,
.watch-empty-card > .mdl-card__actions > .mdl-button {
  color: #fff;
}