.watch-card-thumb.mdl-card {
  width: 298px;
  height: 241px;
}

.watch-card-thumb > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.watch-card-thumb__title {
  color: #fff;
}